@model Cinema.Course.Models.GameListModel[]

<div id="loop" class="list clear">
    @foreach (Cinema.Course.Models.GameListModel game in Model)
    {


        <div class="post clear">
            <a href="@game.ImageUrl" title="@game.Name" class="thumb"><img class="post-image" src="@game.ImageUrl" alt="The Legend of Zelda: Tears of the Kingdom"></a>

            
            <a class="name" href="@game.ImageUrl">@game.Name</a>
            <div class="post-meta"><p>Дата выхода: @game.ReleaseDate.ToLongDateString()</p></div>
            <div class="post-meta">
                <p>
                    Платформа: @foreach (Cinema.Course.Models.Platform platform in game.Platforms)
                    {@platform<text>, </text>}
                </p>
            </div>
            <div class="post-meta"><p>Жанр: РПГ, Экшен</p></div><div class="post-content">Краткое описание: @game.Description</div>
            <div class="ratings-graph">
                <div class="graph-critic">
                    <div class="graph">
                        <div class="small-score mark-8">@game.CriticsRating</div>
                        Рейтинг критиков
                        <div class="graph-body"><div style="width:80%" class="rating-graph mark-8"></div></div>
                    </div>
                </div>
                <div class="graph-critic">
                    <div class="graph">
                        <div class="small-score mark-9">@game.GamersRating</div>
                        Игроки<div class="graph-body"><div class="rating-graph mark-9" style="width:88%"></div></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>